.forecastContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 4rem;
}

#dark h2 {
  color: white;
}
@media screen and (max-width: 600px) {
  .forecastContainer {
    margin-top: -50px;
    gap: 5px;
  }
  .forecastCard {
    height: 85px;
    width: 65px;
    font-size: 12px;
    border-radius: 8px;
  }
  .iconImg {
    height: 30px;
    width: 35px;
  }
}
