.nav {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #c2c2c289;
  font-family: "Permanent Marker", cursive;
}
img {
  margin: 0;
  height: 100px;
  width: 100px;
}
